# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/runtime
# production
/dist
/docs-dist
/www
.theme
/src/.lyr
# misc
.DS_Store

.env.local

# ide
/.vscode
/.idea
.gitpod.yml
