#npmignore
!/dist
src
apis
/docs
/.github
typings.d.ts
build.js
/docs-dist
/.editorconfig                                      
/.eslintignore                                      
/.eslintrc.js                                       
/.fatherrc.ts                                       
/.prettierignore                                    
/.prettierrc     
tsconfig.json
yarn-error.log
yarn.lock